
body {
    background-image: url("../img/background.jpg");
    align-items: center;
    display: flex;

}
.boxCentro {
    background-color:rgb(255,255,255,0.5);
    margin: auto;
    width: 1200px;
    height: 600px;
    border-radius: 10px;
    display: flex;
}
.boxMenu{
    background-color: rgb(255,255,255,0.9);
    width: 30%;
    border-right: 2px solid purple;
    border-radius:10px;
    border: 2px solid purple;
}
.boxConteudo{
    background-color: rgb(255,255,255,0.9);
    width: 70%;
    border-right: 2px solid purple;
    border-radius:10px;
    border: 2px solid purple;
    overflow: auto;
    
}
.boxLogin{
    background-color: rgb(255,255,255,0.8);
    border-radius: 10px;
    width: auto;
    height: auto;
    margin: auto;
    text-align: center;
    font-family: sans-serif;
    padding: 10px;
}
.boxForm{
    width: 450px;
    margin: auto;
}

spam {
    font-family: sans-serif;
    font-size: 30px;
    margin: 10px;
    padding-top: 10px;
    text-align: left;
}
input[type=text],input[type=password],input[type=email],input[type=time],input[type=date] {
    border-radius: 10px;
    box-shadow: 1px 1px 2px;
    background: white;
    align-items: right;
    padding: 3px;
    float: right;
    width: 250px;
    height: 25px;
    font-size: 20px;
}
input[type=text]:hover,input[type=password]:hover,input[type=email]:hover {
    background-color: whitesmoke;
}

.buttonForm{
    border:1px solid #393B3E;
    -webkit-box-shadow:#737373 0px 1px 5px;
    -moz-box-shadow: #737373 0px 1px 5px;
    box-shadow: #737373 0px 1px 5px ;
    -webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    border-radius: 23px;
    font-size:25px;
    font-family:arial, helvetica, sans-serif;
    padding: 10px 20px 10px 20px;
    text-decoration:none;
    display:inline-block;
    text-shadow: 0px 1px 0 rgba(10,10,10,0.5);
    font-weight:bold;
    color: #FFFFFF;
    background-color: #7D0DB5; background-image: -webkit-gradient(linear, left top, left bottom, from(#7D0DB5), to(#D05BD4));
    background-image: -webkit-linear-gradient(top, #7D0DB5, #D05BD4);
    background-image: -moz-linear-gradient(top, #7D0DB5, #D05BD4);
    background-image: -ms-linear-gradient(top, #7D0DB5, #D05BD4);
    background-image: -o-linear-gradient(top, #7D0DB5, #D05BD4);
    background-image: linear-gradient(to bottom, #7D0DB5, #D05BD4);
    filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#7D0DB5, endColorstr=#D05BD4);
    float:right;
    margin-left: 10px;
    margin-top: 15px;
}
.buttonForm:hover{
     border:1px solid #393B3E;
    background-color: #5c0a85; background-image: -webkit-gradient(linear, left top, left bottom, from(#5c0a85), to(#c334c8));
    background-image: -webkit-linear-gradient(top, #5c0a85, #c334c8);
    background-image: -moz-linear-gradient(top, #5c0a85, #c334c8);
    background-image: -ms-linear-gradient(top, #5c0a85, #c334c8);
    background-image: -o-linear-gradient(top, #5c0a85, #c334c8);
    background-image: linear-gradient(to bottom, #5c0a85, #c334c8);
    filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#5c0a85, endColorstr=#c334c8);
}
a{
    text-decoration-color: #7D0DB5;
    color: #7D0DB5;
}
a:hover{
    color:#D05BD4;
}
.boxFoto{
    margin: auto;
    border-bottom: 2px solid purple;
    padding: 10px;
    border-radius:10px;
    
}
.boxFoto:hover{
    background-color: rgb(208,91,2012,0.5);
    transition: all 0.5s ease;
    
}
.boxItensMenu{
    align-items: center;
    justify-content: center;
    align-content: center;
    border-radius: 10px;
    display:

    
}
.linkMain{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 40px;
    text-decoration: none;
    color:purple;
}
.itemMenu{
    margin:auto;
    padding-bottom: 25px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    position: relative;
    border-bottom: 2px solid purple;
}
.itemMenu:hover{
    background-color: rgb(208,91,2012,0.5);
    color:white;
    transition: all 0.5s ease;
}
.itemMenu:hover a{
    color: white;
    transition: all 0.3s ease;
}
.contentBar{
    height: auto;
    width: 100%;
    background-color:rgb(128,0,128,0.8);
    padding: 0.1px;
    display: flex;

}
.filtro{
    margin: 5px;
    font-size: 20px;
    border-radius: 10px;
    color: purple;
    float: left !important;
    width: 100px;
    
}
.icon{
    border-radius: 05px;
    float: left;
    margin-left: 20px;
}
.icon:hover{
    background-color: rgb(255,255,255,0.5);
    transition: all 0.5s ease;
    border-radius: 35px;
}
.icon2 {
    border-radius: 5px;
    
}
.icon2:hover {
    background-color: rgb(255,255,255,0.8);
    transition: all 0.5s ease;
    border-radius: 30px;
    
}
.boxForm{
	text-align:center;
	margin:auto;
	padding:1px;
}
h1{
	font-size:40px;
	color:purple;
	font-family:san-serif;
    padding:5px;
}
h1:hover{
    color:rgb(221,160,216,0.8);
    transition: all 0.3s ease;
}
table, tr,td {
    border: 2px solid purple;
    font-family: sans-serif;
    font-size: 20px;
    color: purple;
    padding: 5px;
    text-align: left;
    vertical-align: bottom;
    margin: auto;
}

tr:hover{
    background-color: rgb(221,160,216,0.8);
    transition: all 0.8s ease;
    color:white;
}
tr:hover td{
    color:white;
    transition: all 0.6s ease;
}
table{
    padding: 10px;
}

.boxTable{
    justify-content: center;
    align-content: center;
    align-items: center;
    align-self: center;
    padding: 2px;
    text-align: center;
    
}

.selectCompromisso{
    border-radius: 10px;
    box-shadow: 1px 1px 2px;
    background: white;
    align-items: right;
    padding: 3px;
    float: right;
    width: 250px;
    height: 25px;
    font-size: 20px;
    
}